.cat-container {
  margin: 30px;
  padding: 20px;
  display: flex;
  border: 2px solid #9834e4;
  border-radius: 10px;
  justify-content: space-between;
  color: #9834e4;
  align-items: center;
  cursor: pointer;
  display: block;
  overflow: auto;
}

.cat-text {
  padding-left: 30px;
  float: left;
  width: 90%;
  color: #9834e4;
}

.cat-text > p,
h2,
h4 {
  margin-bottom: 20px;
}

.cat-text > p {
  color: black;
}

.cat-image {
  width: 10%;
  border-radius: 10px;
  float: left;
}
