.cat-search-container {
  height: 50px;
  background-color: #9834e4;
  margin-bottom: 15px;  
}

.cat-search-text{
  float: right;
  margin: 10px;
  color: white;
}

.cat-search-input {
  margin: 10px;
  width: 200px;
  height: 30px;
  padding: 0 10px;
  border-radius: 5px;
  float: right;
  border: none;  
  font-size: 16px;
}
